*{
    margin: 0;
    padding: 0;
}
#container{
    background-color: aqua;
    width: 700px;
    height: 800px;
    margin-left: auto;
    margin-right:auto;
}
#header{
    background-color: cadetblue;
    width: 700px;
    height: 150px;
}
#nav{
    background-color: blanchedalmond;
    width: 700px;
    height: 100px;
}
#main{
    background-color: coral;
    width: 700px; 
    height: 480px;
}
#footer{
    background-color: cornflowerblue;
    width: 700px;
    height: 70px;
}
#tit{
    color: darkred;
    font-family: monospace;
    font-size: 45px;
}
#sub{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    color: tomato;
}
#cue{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}