*{
    margin: 0;
    padding: 0;
}
#container{
    background-color: aqua;
    width: 700px;
    height: 850px;
    margin-left: auto;
    margin-right:auto;
}
#header{
    background-color: cadetblue;
    width: 700px;
    height: 150px;
}
#nav{
    background-color: blanchedalmond;
    width: 700px;
    height: 100px;
}
#main{
    background-color: coral;
    width: 700px;
    height: 510px;
}
#footer{
    background-color: cornflowerblue;
    width: 700px;
    height: 90px;
} 
#tit{
    color: brown;
    font-size: 40px;
    font-family: serif;
}
#sub{
    color: brown;
    font-size: 40px;
    font-family: serif;
}