#container{
    width: 800px;
    height: 400px;
    background-color: darkkhaki;
    margin-left: auto;
    margin-right: auto;
}
#h1{
    font-family: monospace;
    color: brown;
}
#parrafo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
#etiqueta{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
#etiqueta2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}